<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
  <div class="flex justify-between items-center mb-4">
    <div class="flex items-center space-x-4">
      <h1 class="text-2xl font-bold">TypeBeat</h1>
    </div>
      <div class="flex items-center" id="unath-header">
        <a href="/register" class="primary__btn mr-4">Register</a>
        <a href="/login" class="text-blue-500 hover:text-blue-700">Login</a>
      </div>
      <div class="flex items-center space-x-4" id="auth-header">
        <a href="/test" class="text-black">Take a Test</a>
        <a class="text-black" href="/leaderboard">Leaderboard</a>
        <a class="text-black" href="/feed">Feed</a>
        <a href="/profile" class="mr-4">
        <div class="flex space-x-3.5 w-full flex-nowrap items-center bg-gray-200 p-2 rounded-full">
          <div class="avatar">
            <P id="user-initial"></P>
          </div>
          <div class="flex flex-wrap justify-between">
            <div class="w-auto">
              <p id="user-name"></p>
            </div>
          </div>
        </div>
        </a>
      </div>
  </div>
  <script src="/js/user-data.js"></script>


</header>