<html lang="en">
<head>
  <title>Login</title>
  <link rel='stylesheet' href='/css/tailwind.css' />
  <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
<%- include('./partials/_header.ejs'); %>
<section class="mx-auto w-full">
  <h1 class="text-3xl font-bold text-center">Register</h1>
  <form id="register-form" class="flex flex-col items-center justify-center mt-24">
    <p class="bg-red-500 px-4 hidden py-2 rounded text-black mb-4" id="error"></p>
    <div class="flex flex-col">
      <label for="display_name">Display Name</label>
      <input class="border-2 w-96 border-gray-400 rounded-md p-2 my-2" type="text" name="display_name" id="display_name" placeholder="Display Name" required>
    </div>
    <div class="flex flex-col">
      <label for="email">Email</label>
      <input class="border-2 w-96 border-gray-400 rounded-md p-2 my-2" type="email" name="email" id="email" placeholder="Email" required>
    </div>
    <div class="flex flex-col">
      <label for="password">Password</label>
      <input class="border-2 w-96 border-gray-400 rounded-md p-2 my-2" type="password" name="password" id="password" placeholder="Password" required>
    </div>

    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md">Register</button>
  </form>
</section>
</body>

<script>
  const form = document.getElementById('register-form');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const formData = new FormData(form);

    const display_name = formData.get('display_name');
    const email = formData.get('email');
    const password = formData.get('password');

    if(!display_name || !email || !password || !email) {
      alert('Please enter all fields');
    }

    const response = await fetch('/register', {
      method: 'POST',
      body: JSON.stringify({
        display_name,
        email,
        password,
      }),
      headers: {
        'Content-Type': 'application/json',
      },
    });

    const result = await response.json();

    const error = document.getElementById('error');

    if(result){
      error.classList.remove('hidden');
      error.textContent = `${result.message}`;
    }

    if (result.success) {
        alert("User Registration Complete");
        window.location.href = '/profile';
    } else {
      alert(result.message);
    }
  });
</script>
</html>
