<html lang="en">
<head>
    <title>Test</title>
    <link rel='stylesheet' href='/css/tailwind.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/kblayout.css' />
    <link rel='stylesheet' href='/css/test.css' />
</head>
<body>
<%- include('./partials/_header.ejs'); %>

<section class="py-4 overflow-hidden max-h-screen">
    <p id="space-reminder" class="mx-auto text-center text-red-500">Reminder: To complete the test, press space after the last word.</p>
    <p id="zoom-reminder" class="mx-auto text-center text-red-500">If the keyboard is over the words, hit Ctrl+(-) to zoom out</p>
    <div class="flex justify-center mt-2 items-center space-x-4 bg-gray-200 rounded-full px-2 py-2 w-fit mx-auto" id="testControls">
        <button class="" id="punctuation" onclick="togglePunctuation()">
            Punctuation
        </button>
        <button class="" id="capital" onclick="toggleCapital()">
            Capital
        </button>
        <button class="" id="numbers" onclick="toggleNumbers()">
            Numbers
        </button>
        <p>•</p>
        <button class="setting__active" id="word-length-btn" onclick="selectSetting('wordLength')">
            Word Length
        </button>
        <button class="" id="time-btn" onclick="selectSetting('time')">
            Time
        </button>
        <p>•</p>
        <div class="flex items-center justify-center space-x-2" id="word-length-options">
            <button id="word-ln-10" onclick="setWordLength(10)">10</button>
            <button id="word-ln-25" class="setting__active" onclick="setWordLength(25)">25</button>
            <button id="word-ln-50" onclick="setWordLength(50)">50</button>
            <button id="word-ln-100" onclick="setWordLength(100)">100</button>
        </div>
        <div class="flex items-center justify-center space-x-2" id="time-options">
            <button onclick="setTime(30)" id="time-30">30s</button>
            <button onclick="setTime(60)" id="time-60">1m</button>
            <button onclick="setTime(120)" id="time-120">2m</button>
        </div>
    </div>
    <h1 class="text-center font-bold text-6xl mt-4" id="wordProg">0/25</h1>
    <h1 class="text-center font-bold text-6xl mt-4" id="timer">60</h1>
    <div class="mx-auto text-center max-w-4xl mt-2 h-[300px] overflow-scroll" id="seq_container">
        <p class="text-3xl font-bold" id="testSequence"></p>
    </div>
    <div class="relative z-10 hidden" aria-labelledby="modal-title" id="favDialog" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left w-full">
                            <h3 class="text-base font-semibold text-gray-900" id="modal-title">Test Complete</h3>
                            <div class="mt-2">
                                <div class="flex flex-col space-y-2 w-full">
                                    <p class="flex items-center space-x-2 justify-between w-full">
                                        <span>Test Type:</span>
                                        <span id="testTypeRes" class="bg-gray-200 p-2 rounded-full"></span>
                                    </p>
                                    <div class="flex items-center space-x-2 justify-between w-full">
                                        <span>Complexity:</span>
                                        <div id="complexityRes" class="flex space-x-2"></div>
                                    </div>
                                    <hr/>
                                    <p class="flex items-center space-x-2 justify-between w-full">
                                        <span>Speed:</span>
                                        <span id="speedRes" class="bg-gray-200 p-2 rounded-full"></span>
                                    </p>
                                    <p class="flex items-center space-x-2 justify-between w-full">
                                        <span>Time:</span>
                                        <span id="timeRes" class="bg-gray-200 p-2 rounded-full"></span>
                                    </p>
                                    <p class="flex items-center space-x-2 justify-between w-full">
                                        <span>Words:</span>
                                        <span id="wordsRes" class="bg-gray-200 p-2 rounded-full"></span>
                                    </p>
                                    <p class="flex items-center space-x-2 justify-between w-full">
                                        <span>Accuracy:</span>
                                        <span id="missedWordsRes" class="bg-gray-200 p-2 rounded-full"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 sm:flex sm:px-6 gap-4 justify-between w-full items-center">
                    <a id="song-btn" onClick="window.open('<%- (songs) %>'.split(',')[levels.findIndex(level => wpm >= level.lowerBound && wpm < level.upperBound)], '_blank')" target="_blank">
                        <div class="primary__btn cursor-pointer">Listen to Song</div>
                    </a>

                    <div class="">
                        <button type="button" onClick="()=> hideDialog(); createTest(((wordProgress - missedWords.filter(word=>word?.length > 0)) / elapsedTime) * 60, time, missedWords); window.location.href='/profile'" id="secondary__btn">Done</button>
                    </div>
                </div>
                <p class="text-center">or</p>

                <div class="px-4 py-3 sm:flex sm:px-6 gap-4 justify-between w-full items-center">
                    <label for="test-inp" class="flex-grow">
                        <input id="test-inp" type="text" class="w-full p-2 bg-gray-300 rounded-lg" placeholder="Add a message...">
                    </label>
                    <button type="button" onClick="()=> hideDialog(); createPost(createTest(((wordProgress - missedWords.filter(word=>word?.length > 0)) / elapsedTime) * 60, time, missedWords)); window.location.href='/profile' " class="primary__btn">Post</button>
                </div>
            </div>
        </div>
    </div>
        <canvas id="confetti-canvas" width="100%" height="100%"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
    <script src="/js/test/levels.js"></script>
    <script src="/js/test/kb-layout.js"></script>
    <script src="/js/test/test-vars.js"></script>
    <script src="/js/test/settings.js"></script>
    <script src="/js/test/timer.js"></script>
    <script src="/js/test/generation.js"></script>
    <script src="/js/test/type-handler.js"></script>
    <script src="/js/test/dialog.js"></script>
    <script src="/js/songs.js"></script>
</section>
<script>

    window.addEventListener('keydown', function(e) {
        if(e.which == 32 && e.target == document.body) {
            e.preventDefault();
        }
    });

    document.addEventListener('keydown', handleTyping);

    document.addEventListener('DOMContentLoaded', () => {

        setWordLength(25);
        document.getElementById('timer').style.display = 'none';
        document.getElementById('time-options').style.display = 'none';
    });

    let currentIndex = 0;

</script>
</body>
</html>
